<!-- BEGIN main_menu_bl -->

<div id="HeaderContainer">
<div class="ilLSMainMenu">
	<div class="container-fluid ilContainerWidth">
		<div class="row">
			<nav id="ilLSTopNav" class="navbar navbar-default" role="navigation">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ilLSMainMenuEntries">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#">Brand</a> -->
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="ilLSMainMenuEntries">
                    <!-- {MAIN_MENU_LIST_ENTRIES} -->
                    <ul class="nav navbar-nav">
                        <li class="dropdown ls_link">{LS_HOME}</li>
                        <li class="dropdown">{LS_FILTER_TOPIC}</li>
                        <li class="dropdown">{LS_FILTER_BRANCH}</li>
                        <li class="dropdown ls_link">{LS_WAS_SIND}</li>
                        <li class="dropdown ls_link">{LS_UMFRAGE}</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
				<!-- Brand and toggle get grouped for better mobile display -->

			</nav>
			<!-- BEGIN top_section --><!-- END top_section -->
		</div>
	</div>
</div>
<!-- END main_menu_bl -->
</div>