<!-- {LS_HEADER}  -->
<!-- <div class="ilLSHeader">
	<div id="LSHeaderImage">
		<img  src="{HEADER_RESPONSIVE}">
	</div>
	<div class="clear:both"></div>
	<div>{LS_MAINMENU}</div>
</div> -->
{LS_MAINMENU}
<div id="filterBlock" hidden>
	<div class="filter_dropdowns" id="topics">{TOPICS}</div>
	<div class="filter_dropdowns" id="branches">{BRANCHES}</div>
</div>
<div class="tiles" data-view="{VIEW}">
	{TILES}
</div>
{SORT}

{TEST_LINKS}
{LP_LEGEND}
<div hidden><a id="backHome" href="{BACK_HOME_LINK}" ></a></div>

